@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');

body{
  font-family: 'Open Sans', sans-serif;
}

td {
text-align: left;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

table {
  width: 100%;
  text-align: center;
}
table td {
//  border:1px solid #333;
  padding: 30px 0px;
}
table tr:first-child th {
  position:sticky;
  top:0px;
  background: #333;

}
table tr:first-child th {
  color: #fff;
  padding: 20px 0px;
  font-family: 'Montserrat', sans-serif;
}

#outputsearch{
  display: none;
}

#searchBar{
  width: 60%;

}
input{
  font-family: 'Open Sans', sans-serif;
}

input[type=button]{
  background-color: #72c5f7; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
}

h1, .allThingsSearch{
  text-align: center;
}
